<nav class="navi">
    <h1 class="firmen_name">Let's Cook</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Rezepte</a></li>
        <li><a href="/Ueber_uns/ueber_uns.php">Über uns</a></li>
        <li><a href="/Login/login.php">Login</a></li>
    </ul>
</nav>