<nav class="navi">
    <h1 class="firmen_name">Let's Cook</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/search">Rezepte</a></li>
        <li><a href="/ueberUns">Über uns</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>