<div class="favorite_icon">
    <a class="profil" href="/profil"><i class="fas fa-user"></i></a>
    <h1 class="title_icons">Profil</h1>
</div>
<div class="favorite_icon">
    <a class="recept" href="/search"><i class="fas fa-utensils"></i></a>
    <h1 class="title_icons">Recept</h1>
</div>
<div class="favorite_icon">
    <a class="favorite" href="/saved"><i class="fas fa-heart"></i></a>
    <h1 class="title_icons">Favorite</h1>
</div>
<div class="favorite_icon">
    <a class="list" href="/shoppinglist"><i class="fas fa-clipboard-list"></i></a>
    <h1 class="title_icons">List</h1>
</div>