<!DOCTYPE html>
<html lang="en">
    <!--Header mit css und fonts und responsive navigation verlinkt-->
  <%- include('../partials/head.ejs') %>
<body>
    <header>
      <!--Navigation verlinkt vom Ordner partials-->
      <%- include('../partials/navi.ejs') %>
    </header>
      <main id="searchPage">
          <!--Form Tag mit Input Feld wo man das Suchrezept rein schreibt und auch noch diversen 
            Allergien oder Diäten spezifisch Suchen kann-->
        <form class="search-form" action="/result" method="post">
          <input class="textInput" type="text" name="search" placeholder="Search for Recipe" required>
          <fieldset id="checks">
            <div class="prefs">
                <!--Spezifische Suche (Allergien oder Diäten)-->
              <h1>Allergien</h1>
            </div>
            <div class="filter">
              <label><input type="checkbox" name="glutenIntolerance" value="gluten" id="gluten"/> Gluten <img class="icons" src="/assets/Icons/gluten.png" alt="gluten"></label>
              <label><input type="checkbox" name="dairyIntolerance" value="dairy Free" id="dairy" /> Dairy Free <img class="icons" src="/assets/Icons/molkerei.png" alt="milk_free"></label>
            </div>
            <div class="prefs1">
              <h1>Diät</h1>
            </div>
            <div class="filter">
              <label>
                <input type="checkbox" name="paleoIntolerance" value="paleo" id="paleo" /> 
                Paleo <img class="icons" src="/assets/Icons/paleo.png" alt="Paleo Diät">
              </label>
              <label>
                <input type="checkbox" name="veganIntolerance" value="vegan" id="vegan"/> 
                Vegan <img class="icons" src="/assets/Icons/vegan.png" alt="Vegan">
              </label>
              <label>
                <input type="checkbox" name="ketoIntolerance" value="ketogenic" id="keto" /> 
                Ketogenic <img class="icons" src="/assets/Icons/ketogene-diaet.png" alt="Ketogenic Diät">
              </label>
              <label>
                <input type="checkbox" name="vegetarianIntolerance" value="vegetarian" id="vegetarian" /> 
                Vegetarian <img class="icons" src="/assets/Icons/vegi.png" alt="vegetarian"></label>
              <label>
                <input type="checkbox" name="pescatarianIntolerance" value="pescatarian" id="pescatarian"/> 
                Pescatarian <img class="icons" src="/assets/Icons/fisch.png" alt=" Pescatarian Diät"></label>
            </div>
         </fieldset>
          <button id="searchButton" type="submit">Search <i class="fas fa-search" id="search-icon"></i></button>
        </form>
        <!--Form Tag für ein Random Rezept zu finden (Achtung es kann alles kommen. Zb. auch nicht vegane oder glutenfreie Rezepte)-->
        <form class="search-form" action="/random" method="GET">
          <button id="random" type="submit">Random Recipe!</button>
        </form>
      </main>
</body>
</html>