<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <header>
      <%- include('./partials/navi.ejs') %>
        <img id="title_bild" src="/assets/images/hintergrundbild.jpg" alt="">
        <p class="info_text">Alles schmeckt besser, wenn es selbst gemacht wird, 
            also let's Cook.
        </p>
    </header>
    <section class="randomeRezept">
        <h1>Frühstück Rezepte</h1>
        <h1>MittagessenRezepte</h1>
        <h1>Abendessen Rezepte</h1>
        <h1>Dessert Rezepte</h1>
    </section>

   <script src="/js/code.js"></script>
</body>
</html>