<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <header>
    
    <h1 class="welcome"> hi  <%= name %></h1>
    <a href="/logout" class="btn btn-danger">Logout</a>
    </header>
    <section class="safe_recept">
        <div class="favorite_icon">
            <a class="recept" href="#"><i class="fas fa-utensils"></i></a>
            <h1 class="title_icons">Recept</h1>
        </div>
        <div class="favorite_icon">
            <a class="favorite" href="#"><i class="fas fa-heart"></i></a>
            <h1 class="title_icons">Favorite</h1>
        </div>
        <div class="favorite_icon">
            <a class="list" href="#"><i class="fas fa-clipboard-list"></i></a>
            <h1 class="title_icons">Shopping list</h1>
        </div>
    </section>
</body>
</html>