<!DOCTYPE html>
<html lang="en">

<body>
    <main>
    <h2 id="pageTitle">Saved Recipes</h2>
    <% if (!savedResults) { %>
      <h3>No Saved Recipes</h3>
      <a href="/random"><h5>Click Here to see a random recipe!</h5></a>
    <% } %>
    <% if (savedResults) { %>
      <% savedResults.forEach(result => { %>
        <a href="/recipe/<%= result.recipe_id %>"><section id= "results" recipe_id="<%= result.recipe_id %>" class="search_recipe">
          <img src="<%= result.image %>"/>
          <h3 id="saved_name"> <%= result.name %> </h3>             
        </section></a>
      <% }) %>
    <% } %>
  </main>
</body>
</html>


