/*Login formular*/
header form {
	position: absolute;
	display: flex;
	flex-direction: column;
    top: 5em;
    left: 15em;
    height: 10%;
    width: 30%;
    color: #F1F2F6;
    font-size: 45px;
}
/*Login username label und Input*/
header form .usn-style label {
    position: absolute;
    top: 2em;
    font-size: 30px;
}

header form .usn-style input {
    position: absolute;
    height: 50%;
    top: 5em;
    width: 60%;
    background-color: rgba(241,242,246, 0.4);
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    padding: 8px;
    color: #1E272E;
    outline: none;
}
/*Login password label und Input*/
   header form .pwd1-style label {
	position: absolute;
	top: 6em;
	font-size: 30px;
   }
   header form .pwd1-style input {
	   position: absolute;
	   height: 50%;
	   top: 11em;
	   width: 60%;
	   background-color: rgba(241,242,246, 0.4);
	   font-size: 20px;
	   border-radius: 10px;
	   border-style: none;
	   padding: 8px;
	   color: #1E272E;
	   outline: none;
   }
/*Login button mit hover effekt*/
header form .button {
        display: flex;
        flex-direction: column;
        width: 60%;
        top: 7em;
        position: absolute;
    }
   header form .button .btn{
	height: 50%;
	width: 100%;
	background-color: rgba(241,242,246, 0.4);
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding: 8px;
	color: #1E272E;
	outline: none;
	cursor: pointer;
}
header form .button .btn:hover{
	background-color: rgba(0,148,50, 0.4);
	color: #f1f2f6;
}
header form .button_regi .btn{
	position: absolute;
	top: 25em;
	height: 50%;
	width: 60%;
	background-color: rgba(241,242,246, 0.4);
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding: 8px;
	color: #1E272E;
	outline: none;
	cursor: pointer;
}
header form .button_regi .btn:hover{
	background-color: rgba(0,148,50, 0.4);
	color: #f1f2f6;
}
header form .button .btn_regi{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,148,50, 0.4);
	font-size: 20px;
	top: 3em;
	border-radius: 10px;
	border-style: none;
	padding: 8px;
	color: #1E272E;
	color: #f1f2f6;
	cursor: pointer;
}
header form .button a {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
header form .button .btn_regi:hover{
	color: #1E272E;
	background-color: rgba(241,242,246, 0.4);
}
/*Login Responsive*/
@media all and (max-width: 1026px) {
	header h2 {
		font-size: 40px;
	}
	header form {
		left: 10em;
	}
}


@media all and (max-width: 770px) {
	header h2 {
		font-size: 35px;
		top: 6em;
	}
	header form {
	    left: 8em;
	}
	header form .usn-style input {
    width: 85%;
	}
	header form .pwd1-style input {
		width: 85%;
	}
}
@media all and (max-width: 427px) {
	header .title_bild {
		width: 114vw;
		height: 640px;
	}
	header h2 {
		font-size: 22px;
	}
	header form {
		left: 4em;
	}
	header form .usn-style input {
		width: 120%;
	}
	header form .pwd1-style input {
		width: 120%;
	}
	header form .button .btn_regi {
		width: 120px;
	}
	header form .button .btn {
		width: 120px;
	}
	header form .button_regi .btn {
		width: 153%;
	}	
}


