#error {
	color: red;
    position: absolute;
    top: 11em;
    left: 34em;
    font-size: 20px;
}
header .title_bild {
    width: 100%;
    height: 854px;
    opacity: 56%;
}

header h2 {
	position: absolute;
    top: 4em;
    left: 5em;
    height: 10%;
    width: 30%;
    color: #F1F2F6;
    font-size: 45px;
}

header form .usn-style label {
    position: absolute;
    top: 2em;
    font-size: 30px;
}

header form .usn-style input {
    position: absolute;
    height: 50%;
    top: 5em;
    width: 60%;
    background-color: rgba(241,242,246, 0.4);
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    padding: 8px;
    color: #1E272E;
    outline: none;
}

   header form .email-style label {
	position: absolute;
	top: 5.3em;
	font-size: 30px;
   }
   header form .email-style input {
	   position: absolute;
	   height: 50%;
	   top: 10em;
	   width: 60%;
	   background-color: rgba(241,242,246, 0.4);
	   font-size: 20px;
	   border-radius: 10px;
	   border-style: none;
	   padding: 8px;
	   color: #1E272E;
	   outline: none;
   }
   header form .pwd1-style label {
	position: absolute;
	top: 2em;
	font-size: 30px;
   }
   header form .pwd1-style input {
	   position: absolute;
	   height: 50%;
	   top: 5em;
	   width: 60%;
	   background-color: rgba(241,242,246, 0.4);
	   font-size: 20px;
	   border-radius: 10px;
	   border-style: none;
	   padding: 8px;
	   color: #1E272E;
	   outline: none;
   }
   header form .pwd-style label {
	position: absolute;
	top: 9em;
	font-size: 30px;
   }
   header form .pwd-style input {
	   position: absolute;
	   height: 50%;
	   top: 16em;
	   width: 60%;
	   background-color: rgba(241,242,246, 0.4);
	   font-size: 20px;
	   border-radius: 10px;
	   border-style: none;
	   padding: 8px;
	   color: #1E272E;
	   outline: none;
   }
   header form .pwd-style2 label {
	position: absolute;
	top: 13em;
	font-size: 30px;
   }
   header form .pwd-style2 input {
	   position: absolute;
	   height: 50%;
	   top: 22em;
	   width: 60%;
	   background-color: rgba(241,242,246, 0.4);
	   font-size: 20px;
	   border-radius: 10px;
	   border-style: none;
	   padding: 8px;
	   color: #1E272E;
	   outline: none;
   }
   header form .button {
	display: flex;
	flex-direction: column;
	width: 60%;
	top: 4em;
	position: absolute;
   }
   header form .button .btn{
	height: 50%;
	width: 100%;
	background-color: rgba(241,242,246, 0.4);
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding: 8px;
	color: #1E272E;
	outline: none;
	cursor: pointer;
}
header form .button .btn:hover{
	background-color: rgba(0,148,50, 0.4);
	color: #f1f2f6;
}
header form .button_regi .btn{
	position: absolute;
	top: 25em;
	height: 50%;
	width: 60%;
	background-color: rgba(241,242,246, 0.4);
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding: 8px;
	color: #1E272E;
	outline: none;
	cursor: pointer;
}
header form .button_regi .btn:hover{
	background-color: rgba(0,148,50, 0.4);
	color: #f1f2f6;
}
header form .button .btn_regi{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0,148,50, 0.4);
	font-size: 20px;
	top: 3em;
	border-radius: 10px;
	border-style: none;
	padding: 8px;
	color: #1E272E;
	color: #f1f2f6;
	cursor: pointer;
}
header form .button a {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
header form .button .btn_regi:hover{
	color: #1E272E;
	background-color: rgba(241,242,246, 0.4);
}

section{
    height: 900px;
}



@media all and (max-width: 770px) {
	header form .email-style input {
		width: 85%;
	}
	header form .pwd-style input {
		width: 85%;
	}
	header form .pwd-style2 input{
		width: 85%;
	}
	header form .pwd-style2 label {
		font-size: 28px;
	}

}
@media all and (max-width: 427px) {
	header form .email-style input {
		width: 150px;
	}
	header form .pwd-style input {
		width: 150px;
	}
	header form .pwd-style2 input{
		width: 150px;
	}
	header form .pwd-style2 label {
		width: 150px;
	}

}