* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	box-sizing: border-box;
}

body {
    /*font-family: 'MADE Sunflower' sans-serif;*/
    background-color: #1A202C;
}
/*Navigation*/
header {
    width: 100%;
}
header .navi {
	width: 95%;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	position: fixed;
}
header .navi.sticky {
    height: 90px;
    width: 100%;
	padding: 5px 100px;
	background:#e2e8f0;

}
header .navi.sticky a{
    color: #1E272E;
}
header .navi.sticky .firmen_name {
    color: #1E272E;
}

.navi ul {
	display: flex;
	align-items: center;
}
.navi ul li {
	list-style: none;
	position: relative;
}
.navi ul li a {
	position: relative;
	margin: 0 50px;
	font-size: 27px;
	text-decoration: none;
	color: #F1F2F6;
}
header .navi .firmen_name{
    color: #F1F2F6;
}
header #title_bild {
    width: 98.8vw;
    height: 860px;
    opacity: 56%;
}
header .info_text {
    position: absolute;
    top: 7em;
    left: 3em;
    height: 10%;
    width: 30%;
    color: #F1F2F6;
    font-size: 45px;
}
.navi .toggle {
    display: none;
    position: absolute;
    right: 16vw;
    top: 15px;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    font-size: 55px;
}



@media all and (max-width: 1026px) {
	header .navi {
		width: 105vw;
	}
	header #title_bild {
		width: 104vw;
		height: 799px;
	}
	header .info_text {
		width: 40%;
		font-size: 35px;
	}
	
}
@media all and (max-width: 770px) {
	.navi {
        padding: 0 0;
    }
    .navi ul {
        width: 1180px;
        top: 36px;
        display: none;
        background: none;
        box-shadow: none;
    }
    .navi .toggle {
        display: block;
    }
    
    .navi ul.active {
		display: block;
		
	}
    .navi ul li a {
        margin: 0;
        display: block;
        text-align: center;
        background: rgb(0, 0, 0, .5);
	}
	header #title_bild {
		width: 108vw;
	}
  }
  @media all and (max-width: 427px) {
	header #title_bild {
		width: 122vw;
		height: 84vh;
	}
	header .info_text {
		width: 72%;
		font-size: 25px;
	}
  }

@media (max-width: 377px){
header #title_bild {
    width: 134vw;
}
.navi ul li a {
	width: 200px;
	top: 3em;
}
}
.jumbotron {
display: flex;
justify-content: center;
width: 100%;
height: 60vh;
align-items: center;

}
.container_title {
	display: flex;
    flex-direction: row;
    justify-content: center;
}
#search-term.form-control {
    background-color: rgba(241,242,246, 0.4);
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    padding: 8px;
    color: #F1F2F6;
    outline: none;
}
input::placeholder {
	color:  #F1F2F6;;

	}

#search-button {
	background-color: rgba(241,242,246, 0.4);
    font-size: 20px;
    border-radius: 10px;
	border-style: none;
	left: 1em;
    position: relative;
    padding: 8px;
	outline: none;
	cursor: pointer;
}

#search-btn-form {
display: flex;
flex-direction: row-reverse;

}

h1 {
	color: #f1f2f6;
}

h3{
	color: #f1f2f6;
}
#search-icon {
	font-size: 20px;
}

.backTo_search {
	color: #f1f2f6;
    font-size: 30px;
    display: flex;
    margin-top: 16px;
}
.details_image {
	margin: 30px auto;
	-webkit-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
	box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
	border-radius: 5px;
	max-width: 312px;
	height: 231px;
	z-index: 1;
  }

#search-button:hover {
	background-color: rgba(0,148,50, 0.4);
	color: #f1f2f6;
}
#checks {
	display: flex;
	flex-direction: column;
	margin-top: 1em;
	margin-bottom: 1em;
	border: none;
	color: white;
	font-size: 26px;
  }
.prefs1 {
	margin-top: 25px;
	font-size: 25px;
}
#checks .filter {
	display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2em;
    align-items: flex-start;
}

.prefs {
	font-size: 25px;
}
 .icons{
	 width: 35px;
  }

  #searchPage .search-form .textInput {
	background-color: rgba(241,242,246, 0.4);
	font-size: 20px;
	border-radius: 10px;
	border-style: none;
	padding: 8px;
	color: #F1F2F6;
	outline: none;
  } 
  input::placeholder {
	color:  #F1F2F6;
  }
  #searchPage {
		text-align: center;
		width: 100%;
		display: flex;
		position: absolute;
		top: 10em;
		flex-direction: column;
		align-items: center;
  }
  @media all and (max-width: 1026px) {
	#searchPage {
		top: 7em;
	}
	.details_image {
		max-width: 300px;
	}
}

	#searchButton {
	  background-color: rgba(241,242,246, 0.4);
	  font-size: 20px;
	  color: #f1f2f6;
	  border-radius: 10px;
	  border-style: none;
	  position: relative;
	  padding: 8px;
	  outline: none;
	  cursor: pointer;
	  width: 15vw;
	}
	#search-icon {
	  font-size: 20px;
	}
	
	#searchButton:hover {
	  background-color: rgba(0,148,50, 0.4);
	}
  
  #random {
	background-color: rgba(241,242,246, 0.4);
	font-size: 20px;
	color: #f1f2f6;
	border-radius: 10px;
	border-style: none;
	top: 1em;
	position: relative;
	padding: 8px;
	outline: none;
	cursor: pointer;
	width: 15vw;
  }
  #random:hover {
	background-color: rgba(0,148,50, 0.4);
  
  }
  #resultsPage {
	display: inline-block;
	margin-left: 9em;
   margin-top: 90px;
  }
  
  #results {
	display: inline-block;
    width: 26vw;
    height: 18em;
}

.submit {
	border:  none;
	cursor: pointer;
}
.like {
	color: #f1f2f6;
	position: absolute;
    top: 280px;
    left: 25em;
    z-index: 1;
	font-size: 38px;
}
.heart i.fa-heart {
	color: #f44336;
}
.heart {
	animation: heart 0.5s linear;
}
@keyframes heart {
	0%{
		transform: rotate(0deg) scale(1.7);
	}
	40% {
		transform: rotate(0deg) scale(1);
	}
	41% {
		transform: rotate(360deg) scale(1);
	}

} 
@media all and (max-width: 1026px) {
	#random {
		width: 17vw;
	}
	#searchButton {
		width: 17vw;
	}
	.like {
		top: 248px;
		left: 19em;
	}
}


#search_name {
	position: relative;
	top: -93px;
	width: 80%;
	height: 60px;
	background-color: rgba(247, 56, 89, .8);
	border-radius: 5px;
	overflow: hidden;
  }
@media all and (max-width: 1026px) {
	#resultsPage {
	margin-left: 4em;
	}
	#search_name {
		width: 98%;
	}
	#results {
		display: inline-block;
		width: 30vw;
		height: 18em;
	}
}

 #pageTitle {
    font-size: 1.8rem;
    margin-left: 1em;
    color: #f1f2f6;
}


  @media all and (max-width: 770px){
#random {
    width: 22vw;
}
#results {
    width: 44vw;
}
#search_name {
	width: 89%;
}
.like {
    left: 15em;
}

}
@media all and (max-width: 427px){
	#searchPage {
		top: 7em;
		left: -3em;
	}
	#searchButton {
		width: 42vw;
		left: 70px;
	}

	#random {
		width: 63vw;
		left: 2em;
	}
	#searchPage {
		left: -5em;
	}
	.like {
		left: 10em;
	}
}
@media all and (max-width: 377px){
	#random {
		width: 45vw;
	}
	#search_name {
		width: 117%;
	}
	#results {
    width: 68vw;
    margin-left: -2em;
}
.like {
left: 298px;
top: 249px;
}

}

@media all and (max-width: 322px) {
	#results {
		width: 68vw;
		margin-left: -51px;
	}
	#search_name {
		width: 137%;
	}
	.like {
		left: 271px;
	}
}