#details h4 {
	margin: 5px;
	text-align: center;
	color: #f1f2f6;
  }
  
  #recipe-ingredients {
	padding: 23px 15px 5px 50px;
	line-height: .89;
	font-family: 'Nanum Pen Script', cursive;
	font-size: 1.7rem;
	color: black;
	background-image: url('../assets/images/paper.PNG');
	border: solid burlywood 5px;
	border-radius: 5px;
	margin: 15px;
}
  #recipe-ingredients h5 {
  font-size: 25px;
  padding: 1px;
  }
  
  #recipe-instructions {
	padding: 15px;
	background-color: rgba(0, 0, 0, .28);
	margin: 15px;
	height: auto;
	width: auto;
  }
  
  #recipe-instructions h4 {
	padding: 5px;
	margin-bottom: 30px;
	font-size: 2.2rem;
  }
  
  .steps {
	padding: 5px;
	padding-bottom: 30px;
	margin: 10px 0px 30px 0px;
	border-bottom: solid white 1px;
  }
  
  .steps:last-of-type {
	border: none;
  }
  
  .steps h5 {
    position: relative;
    display: flex;
    max-width: 30px;
    justify-content: center;
    align-content: center;
    margin-bottom: 10px;
    font-size: 25px;
    background-color: rgba(150, 150, 150, .8);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
  .steps p {
	line-height: 1.2;
  }

  .shoppingListHead {
	font-size: 2.5rem;
  }
  
  
  #detailsMain h2 {
	padding: 15px;
	text-align: center;
  }
  #detailsMain {
    display: flex;
    flex-direction: column;
    align-items: center;
	color: white;
	height: 100vh;
}

.randomeRezept{ 
  height: 35vh;
  width: 100%;
  display: flex;
  margin-top: 4em;
  flex-direction: row;
  justify-content: space-around;
}

.randomeRezept img{ 
  width: 250px;
  border-radius: 10px;
}


@media all and (max-width: 1026px) {
  .randomeRezept img {
    width: 225px;
  }
  .randomeRezept {
    margin-left: 21px;
  }
}
@media all and (max-width: 770px) {
  .randomeRezept img {
    width: 170px;
  }
  }
  @media all and (max-width: 427px) {
    .randomeRezept{
      display: inline-block;
      width: 85%;
      height: 40vh;
      margin-left: 10em;
      margin-top: -1em;
    }
  .search-form {
    width: 30%;
        height: 55%;
        margin-bottom: 15px;
    }
    .container {
      margin-top: 11em;
    }
  }

.container .title_rezepte {
	color: #f1f2f6;
	display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}


#searchButton1 {
  background-color: rgba(241,242,246, 0.4);
  font-size: 20px;
  color: #f1f2f6;
  border-radius: 10px;
  border-style: none;
  position: relative;
  padding: 8px;
  outline: none;
  cursor: pointer;
  width: 18vw;
}

#searchButton1:hover {
	background-color: rgba(0,148,50, 0.4);
  color: #f1f2f6;
}

.spezifischeSuche {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.spezifischeSuche img{ 
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.spezifischeSuche1 {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.spezifischeSuche1 img{ 
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
@media all and (max-width: 1026px) {
  #searchButton1 {
  width: 24vw;
}
  .spezifischeSuche {
  margin-left: 21px;
}
.spezifischeSuche img {
  width: 225px;
  }
  .spezifischeSuche1 {
    margin-left: 21px;
  }
  .spezifischeSuche1 img {
    width: 225px;
    }
}
@media all and (max-width: 770px) {
.spezifischeSuche img {
  width: 170px;
}
.spezifischeSuche1 img {
  width: 170px;
}

}
@media all and (max-width: 427px) {
  .spezifischeSuche {
    display: inline-block;
      width: 85%;
      height: 45vh;
      margin-left: 10em;
      margin-top: -1em;
  }
  .spezifischeSuche1 {
    display: inline-block;
      width: 85%;
      height: 45vh;
      margin-left: 10em;
      margin-top: 11em;
  }
  #searchButton1 {
  width: 46vw;
}

}

@media all and (max-width: 377px) {
  #searchButton1 {
    width: 50vw;
}
.container .title_rezepte {
  width: 400px;
}
}

@media all and (max-width: 322px) {
  #searchButton1 {
    width: 60vw;
    margin-left: -2em;
}
.container .title_rezepte {
  width: 400px;
}
}

