<!DOCTYPE html>
<html lang="en">
      <!--Header mit css und fonts und responsive navigation verlinkt-->
<%- include('../partials/head.ejs') %>
<body>
    <header class="profil">
    <h1 class="welcome"> Willkommen <%= name %></h1>
    <a href="/logout" class="logout"><i id="logout_btn" class="fas fa-sign-out-alt"></i></a>
    
</header>
    <section class="safe_recept">
    <!--Navigation verlinkt vom Ordner partials-->
        <%- include('../partials/profil_navi.ejs') %>
    </section>
</body>
</html>