<!DOCTYPE html>
<html lang="en">
<head>
    <!--Header mit css und fonts und responsive navigation verlinkt-->
  <%- include('../partials/head.ejs') %>
</head>
<body>
    <header class="profil">
        <h1 class="welcome">Deine Shoppinglist <%= name %></h1>
        <a href="/logout" class="logout"><i id="logout_btn" class="fas fa-sign-out-alt"></i></a>
    </header>
    <section class="safe_recept">
      <!--Navigation verlinkt vom Ordner partials-->
        <%- include('../partials/profil_navi.ejs') %>
    </section>
    <!--Gespeicherte Rezepte anzeigen lassen-->
    <section class="accordion">
        <div class="contentBx">
            <div class="label">Burger Cake <i id="decrement" class="fas fa-trash"></i></div>
            <div class="content">
                <p>
                    3 oz canned tomato sauce <br>
                    2 tsps dried basil <br>
                    2 large cloves garlic <br>
                    1 lb ground meat <br>
                    1 Tbsp olive oil <br>
                    3 tsps oregano <br>
                    0.25 cups red wine <br>
                    5 servings salt and pepper <br>
                    5 oz tomatoes
                </p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">Sushi Rolls <i class="fas fa-trash"></i></div>
            <div class="content">
                <p>
                    1.5 lb asparagus spears <br>
                    1 cup carrots <br>
                    0.5 tsps chili oil <br>
                    4 cups cooked short grain rice <br>
                    1 tsp dark sesame oil <br>
                    1 tsp fresh ginger <br>
                    3.5 Tbs low sodium soy sauce <br>
                    0.25 cups mirin <br>
                    6 sheets nori <br>
                    0.25 cups rice wine vinegar <br>
                    4 Tbs rice wine vinegar <br>
                    1.5 tsps salt <br>
                    3 Tbs sesame seeds <br>
                    1.5 Tbs sugar <br>
                    6 oz tofu
                </p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">creamy parmesan garlic gnocchi <i class="fas fa-trash"></i></div>
            <div class="content">
                <p>
                    1 lb gnocchi <br>
                    15.5 oz great northern beans <br>
                    3 cups kale <br>
                    0.333 cups parmesan cheese
                </p>
            </div>
        </div>
        <div class="contentBx">
            <div class="label">Greek Salad Wrap <i class="fas fa-trash"></i></div>
            <div class="content">
                <p>
                    6 cucumbers <br>
                    1 Tbsp feta cheese <br>
                    1 tsp greek olives <br>
                    1 Tbsp kalamata olives <br>
                    3 slice red onion <br>
                    0.25 cups romaine lettuce <br>
                    1 slice tomato <br>
                    1 whole wheat wrap
                   </p>
            </div>
        </div>
    </section>
    <script src="/js/code.js"></script>
</body>
</html>