<!DOCTYPE html>
<html lang="en">
    <!--Header mit css und fonts und responsive navigation verlinkt-->
    <%- include('../partials/head.ejs') %>
<body>
    <header>
      <!--Navigation verlinkt vom Ordner partials-->
        <%- include('../partials/navi.ejs') %>
    </header>
    <section class="ueberUns">
    <h1 class="title">
        Über uns
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum cumque beatae pariatur a fugit, 
        id magnam optio eaque ipsam repellat distinctio mollitia quaerat. Maxime neque quis quos iste totam repudiandae!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et laudantium inventore fuga provident corporis ut debitis alias. 
        Ullam sapiente dignissimos praesentium animi id quae eveniet ipsam, totam, cumque nisi error?
    </p>
    <main>
        <div id="icons">
            <a href="#">
                <img class="icon" src="/assets/images/apple-android-store-icons.png" alt="Download Link">
            </a>
        </div>
        <img class="logo" src="/assets/images/logo.png" alt="Logo">
    </main>
    </section>
</body>
</html>