* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	box-sizing: border-box;
}

body {
    /*font-family: 'MADE Sunflower' sans-serif;*/
    background-color: #1E272E;
}
/*Navigation*/
header {
    width: 100%;
    height: 35vh;
}
header .navi {
	width: 95%;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	position: fixed;
}
header .navi.sticky {
    height: 90px;
    width: 100%;
	padding: 5px 100px;
	background: #f1f2f6;

}
header .navi.sticky a{
    color: #1E272E;
}
header .navi.sticky .firmen_name {
    color: #1E272E;
}

.navi ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navi ul li {
	list-style: none;
	position: relative;
}

.navi ul li a {
	position: relative;
	margin: 0 50px;
	font-size: 27px;
	text-decoration: none;
	color: #F1F2F6;
}
header .navi .firmen_name{
    color: #F1F2F6;
}

header .welcome {
	width: 100%;
    text-align: center;
    position: absolute;
	top: 6em;
	color: #f1f2f6;
}

.safe_recept {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite_icon{
    width: 10%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f2f6;
    border-radius: 22px 22px 22px 22px;
    box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
    margin-left: 25px;
}

.favorite_icon .recept {
    font-size: 40px;
    color: #cd6133;
}

.favorite_icon .favorite {
    font-size: 40px;
    color: #e74c3c;
}

.favorite_icon .list {
    font-size: 40px;
    color: #3498db;
}


