* {
    margin: 0;
    padding: 0;
    text-decoration: none;
	box-sizing: border-box;
}

body {
    /*font-family: 'MADE Sunflower' sans-serif;*/
    background-color: #1E272E;
}
/*Navigation*/
header {
	width: 100%;
	height: 30vh;
}
header .navi {
	width: 95%;
	top: 0;
	left: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	padding: 40px 100px;
	position: fixed;
}
header .navi.sticky {
    height: 90px;
    width: 100%;
	padding: 5px 100px;
	background: #f1f2f6;

}
header .navi.sticky a{
    color: #1E272E;
}
header .navi.sticky .firmen_name {
    color: #1E272E;
}

.navi ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navi ul li {
	list-style: none;
	position: relative;
}

ul li a:hover {
	color: #E31B6D;
}
.navi ul li a {
	position: relative;
	margin: 0 50px;
	font-size: 27px;
	text-decoration: none;
	color: #F1F2F6;
}
header .navi .firmen_name{
    color: #F1F2F6;
}

.ueberUns {
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;

}

.ueberUns h1 {
	color: #f1f2f6;
	display: flex;
	justify-content: center;
}

.ueberUns p {
	color: #f1f2f6;
	width: 30vw;
	height: 30vh;
	position: relative;
    left: 33em;
	top: 4em;
	font-size: 17px;
}

.ueberUns main {
	display: flex;
	flex-direction: row;
	height: 20vh;
	justify-content: center;
}

.ueberUns main #icons {
	width: 17%;
}

.ueberUns main #icons img {
	width: 80%;
	margin-left: 5em;
}

.ueberUns main .logo {
	width: 12vw;
	height: 20vh;
	margin-left: 5em;

}